%label{ for: "role" } Role
%select#role
  %option{ value: "" } None
  - %w[researcher auditor support admin adviser supervisor manager national_manager].each do |role|
    %option{ value: "casebook_#{role}" }= role.capitalize
  %option{ value: "casebook_superadmin", selected: true } Superadmin

%label{ for: "local_auditor" }
  %input#local_auditor{ type: "checkbox", name: "claims[casebook_special_permissions][]", value: "casebook_local_auditor" }
  Local auditor

%label{ for: "debt_adviser" }
  %input#debt_adviser{ type: "checkbox", value: "casebook_debt_adviser", checked: true }
  Debt adviser

:ruby
  office_groups = [
    ["East End (member)", "MBR_East_End", true],
    ["Citizens Advice Member", "MBR_Citizens_Advice"],
    ["Adviceline Specialist Provider Gateshead", "MBR_Gateshead_Specialist_Provider"],
    ["Allerdale (member)", "MBR_Allerdale"],
    ["Barking & Dagenham (member)", "MBR_Barking_Dagenham"],
    ["Barnet (member)", "MBR_Barnet"],
    ["Barrow-In-Furness (member)", "MBR_Barrow-In-Furness"],
    ["Bexley Borough (member)", "MBR_Bexley_Borough"],
    ["Blackburn with Darwen (member)", "MBR_Blackburn_with_Darwen"],
    ["Blackpool Citizens Advice Bureau (member)", "MBR_Blackpool"],
    ["Bolton & District (member)", "MBR_Bolton_District"],
    ["Brent (member)", "MBR_Brent"],
    ["Bridgend County Borough (member)", "MBR_Bridgend_County_Borough"],
    ["Bromley (member)", "MBR_Bromley"],
    ["Burnley & Pendle District (member)", "MBR_Burnley_Pendle_District"],
    ["Bury District (member)", "MBR_Bury"],
    ["CAB Cylch Conwy District (member)", "MBR_Cylch_Conwy_District"],
    ["Caerphilly County (member)", "MBR_Caerphilly_County"],
    ["Camden (member)", "MBR_Camden"],
    ["Canolfan Cynghori Ynys Mon (member)", "MBR_Canolfan_Cynghori_Ynys_Mon"],
    ["Cardiff and Vale (member)", "MBR_Cardiff_Vale"],
    ["Carlisle & Eden Districts (member)", "MBR_Carlisle_Eden"],
    ["Carmarthenshire (member)", "MBR_Carmarthenshire"],
    ["Ceredigion Citizens Advice", "MBR_Cyngor_Ar_Bopeth_Ceredigion"],
    ["Cheshire East CAB North (member)", "MBR_Cheshire_East_North"],
    ["Cheshire East (member)", "MBR_Cheshire_East"],
    ["Cheshire West CAB Ltd (member)", "MBR_Cheshire_West_Ltd"],
    ["Citizens Advice Croydon (member)", "MBR_Croydon"],
    ["Citizens Advice Merton and Lambeth (member)", "MBR_Merton_Lambeth_Ltd"],
    ["Citizens Advice Mole Valley (member)", "MBR_Leatherhead_Dorking"],
    ["Citizens Advice PCCs", "MBR_PCCs"],
    ["Citizens Advice Rossendale and Hyndburn (member)", "MBR_Rossendale"],
    ["Citizens Advice Sefton (member)", "MBR_Sefton"],
    ["Citizens Advice Waltham Forest (member)", "MBR_Waltham_Forest"],
    ["Citizens Advice Wigan Borough (member)", "MBR_Wigan_Borough"],
    ["Copeland (member)", "MBR_Copeland_District_Citizens_Advice"],
    ["Database migration reserved office group", "MBR_Database_migration_reserved_office_group"],
    ["Denbighshire (member)", "MBR_Denbighshire"],
    ["Enfield (member)", "MBR_Enfield"],
    ["Flintshire (member)", "MBR_Flintshire"],
    ["Fylde (member)", "MBR_Fylde_Ltd"],
    ["Greenwich District (member)", "MBR_Greenwich_District"],
    ["Gwynedd & De Ynys Mon (member)", "MBR_Gwynedd_De_Ynys_Mon"],
    ["Halton District (member)", "MBR_Halton_District"],
    ["Hammersmith & Fulham (member)", "MBR_Hammersmith_Fulham"],
    ["Haringey District (member)", "MBR_Haringey_District"],
    ["Harrow (member)", "MBR_Harrow"],
    ["Havering (member)", "MBR_Havering"],
    ["Hillingdon (member)", "MBR_Hillingdon_Ealing"],
    ["Hounslow District (member)", "MBR_Hounslow_District"],
    ["Kensington & Chelsea (member)", "MBR_Kensington_Chelsea"],
    ["Kingston Borough (member)", "MBR_Kingston_Borough"],
    ["Knowsley (member)", "MBR_Knowsley"],
    ["Lancashire West (Member)", "MBR_Lancashire_West"],
    ["Lewisham (member)", "MBR_Lewisham"],
    ["LSAS (member)", "MBR_LSAS"],
    ["Manchester District (member)", "MBR_Manchester"],
    ["MASDAP Contact Centres", "MBR_MASDAP_Contact_Centres"],
    ["Merthyr Tydfil (member)", "MBR_Merthyr_Tydfil"],
    ["Monmouthshire County (member)", "MBR_Monmouthshire_County"],
    ["Newport (member)", "MBR_Newport_Ltd"],
    ["North Lancashire CAB (member)", "MBR_North_Lancashire"],
    ["North Liverpool (member)", "MBR_North_Liverpool"],
    ["Pembrokeshire (member)", "MBR_Pembrokeshire"],
    ["Pennine West (member)", "MBR_Pennine_West"],
    ["Powys (member)", "MBR_Powys"],
    ["Preston (member)", "MBR_Preston"],
    ["Proof of Concept Caerphilly/Merton", "MBR_Caerphilly_Merton"],
    ["Redbridge (member)", "MBR_Redbridge"],
    ["Rhondda Cynon Taff (member)", "MBR_Rhondda_Cynon_Taff"],
    ["Ribble Valley (member)", "MBR_Ribble_Valley"],
    ["Richmond Borough (member)", "MBR_Richmond_Borough"],
    ["Royal Courts of Justice (member)", "MBR_Royal_Courts_of_Justice"],
    ["Salford District (member)", "MBR_Salford"],
    ["South Lakes Citizens Advice (member)", "MBR_South_Lakes"],
    ["South Liverpool (member)", "MBR_South_Liverpool"],
    ["Southwark (member)", "MBR_Southwark"],
    ["St Helens (member)", "MBR_St_Helens"],
    ["Stockport District (member)", "MBR_Stockport_District"],
    ["Sutton Borough (member)", "MBR_Sutton_Borough"],
    ["Swansea Neath Port Talbot (member)", "MBR_Swansea_Neath_Port_Talbot"],
    ["Tameside District (member)", "MBR_Tameside_District"],
    ["Torfaen (member)", "MBR_Torfaen"],
    ["Wandsworth (member)", "MBR_Wandsworth_Borough"],
    ["Warrington District (member)", "MBR_Warrington_District"],
    ["Wavertree (member)", "MBR_Wavertree"],
    ["Westminster CAB (member)", "MBR_Westminster"],
    ["Wirral (member)", "MBR_Wirral"],
    ["Wrexham & District (member)", "MBR_Wrexham"]
  ]

%label{ for: "groups" } Groups
%select#groups{ multiple: true }
  = office_groups.map do |(name, external_id, selected)|
    %option{ value: external_id, selected: selected }= name

%input{ type: "hidden", id: "role_claim", name: "claims[casebook_role]", value: "" }

:javascript
  var form = document.querySelector('form');

  function makeClaims() {
    var role = form.role.value;
    var groups = [].slice.call(form.groups.options)
      .filter(function (option) {
        return option.selected;
      })
      .map(function (option) {
        return option.value;
      });

    var localAuditor = form.local_auditor.checked;
    if (role === 'casebook_superadmin') {
      groups.push('casebook_superadmin');
    } else if (role === 'casebook_national_manager') {
      groups.push('casebook_national_manager');
    } else {
      form.role_claim.value = role;
    }

    if (form.debt_adviser.checked) {
      groups.push('casebook_debt_adviser');
    }

    // Remove old group claims
    [].forEach.call(document.querySelectorAll('[name="claims[groups][]"]'), function(n) {
      n.parentNode.removeChild(n);
    });
    groups.forEach(function(g) {
      var input = document.createElement('input');
      input.type = 'hidden';
      input.name = 'claims[groups][]';
      input.value = g;
      form.appendChild(input);
    });
  }

  form.addEventListener('submit', makeClaims);
